body{
    margin: 0;
}

nav{
    border-bottom: solid 1px black;
    display: flex;
    height: 10vh;
}

nav h2 a{
    color: black;
    text-decoration: none;
    display: inline;  
    padding: 0 1em;  
}

.pesquisa-container{
    flex: 1;
    margin: auto;
    text-align: center;
}

input{
    flex: 1;
}

.perfil{
    margin: auto;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.foto-perfil{
    margin: auto 0;
    max-width: 2.5rem;
    max-height: 2.5rem;
    object-fit: cover;
}

main{
    display: flex;
    min-height: 90vh;
}

menu{
    border-right: solid 1px black;
    margin: 0;
    padding-right: 1rem;
}

section{
    padding: 1rem;
}

.producao{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 1rem;
    border: solid 1px black;
    margin: .5rem;
    gap: 1rem;
}

.imgprod{
    height: 10rem;
}