body{
    margin: 0;
}

nav{
    border-bottom: solid 1px black;
    display: flex;
    height: 10vh;
}

nav h2 a{
    color: black;
    text-decoration: none;
    display: inline;  
    padding: 0 1em;  
}

.pesquisa-container{
    flex: 1;
    margin: auto;
    text-align: center;
}

input{
    flex: 1;
}

.perfil{
    margin: auto;
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
}

.foto-perfil{
    margin: auto 0;
    max-width: 2.5rem;
    max-height: 2.5rem;
    object-fit: cover;
}

main{
    display: flex;
    min-height: 90vh;
}

menu{
    border-right: solid 1px black;
    margin: 0;
    padding-right: 1rem;
}

section{
    padding: 1rem;
}

.perfil-banner{
    position: relative;
}

.foto-banner{
    width: 85vw;
}

.user-info{
    display: flex;
    justify-content: space-around;
}

.user{
    text-align: center;
}

.perfil-usuario{
    width: 10vw;
}

table, td, th{
    padding: .5rem;
    border: solid 1px black;
    border-collapse: collapse;
}

.seguidor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    gap: 2rem;
}

.perfil-seguimento{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all 0.4s;
}
   
.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    border-radius: 4px;
    border: solid 1px black;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
  }
   
.modal__footer {
    text-align: right;
    margin-top: 50px;
}
   
.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}
   
.modal__footer-btn-close {
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-color: #cfcca8;
    color: #000000;
    border-radius: 3px;
}

.favoritos{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.imgprod{
    height: 10rem;
    margin: auto 0;
}